.vscode
.DS_Store
queries
rotate
twoPointers
.DS_Store
sortEvenOdd
sortSquares
prefixSum
partitionSumCheck
querySum
matrixMultiplication
matrixTranspose
patternRevision
pascalTriangle
rowsWithMax1
matrixRotation
matrixRotationBadMethod
spiralMatrixPatter
generateSpiralMatrix
sumOfDigits